html,
body {
    margin: 0;
    padding: 0;
    background-color: black;

    user-select: none;
    -webkit-user-select: none;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.window-titlebar {
    flex-shrink: 0;
}

.PolyMasking {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    color: black;
    cursor: none;
    width: 100% !important;
    height: 100% !important;
}